* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}
body {
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
}

.mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8;
}

.displayContainer {
<<<<<<< HEAD
    height: 60%;
    width: 25%;
    border-radius: 20px;
    box-shadow: 0 10px 25px #00000026;
    ;
}

.headerContainer {
    height: 30%;
    width: 100%;
    background-color: #7C3AED;
    background: linear-gradient(45deg, #4F46E5, #3B82F6);
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
}

.firstSec {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#userImg {
    font-size: 50px;
    text-align: center;
    color: white;
}

.nameSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 30px;
    margin-top: 10px;
=======
  height: 60%;
  width: 25%;
  /* background-color: #FFFFFF; */
  /* margin-top: 50px; */
  border-radius: 20px;
  box-shadow: 0 10px 25px #00000026;
}

.headerContainer {
  height: 30%;
  width: 100%;
  background-color: #7c3aed;
  background: linear-gradient(45deg, #4f46e5, #3b82f6);
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: #ffffff;
}

.firstSec {
  height: 70px;
  width: 70px;
  background-color: lightslategray;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#userImg {
  font-size: 70px;
  text-align: center;
  color: white;
}

.nameSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 30px;
  margin-top: 30px;
>>>>>>> 01dd9da (added new project Movier)
}

#name {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.name-wrapper {
  position: relative;
  display: inline-block;
}

.name-wrapper i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
  font-size: 16px;
}

.name-wrapper input {
  padding-left: 35px;
  height: 45px;
  width: 85%;
  font-size: 14px;
  border-radius: 5px;
  background-color: #f4f6f8;
  border: 1px solid #cbd5e1;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-wrapper i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
  font-size: 16px;
}

.input-wrapper input {
  padding-left: 35px;
  height: 45px;
  width: 85%;
  font-size: 14px;
  border-radius: 5px;
  background-color: #f4f6f8;
  border: 1px solid #cbd5e1;
}

.input-wrapper input:hover {
  border: 1px solid #2f80ed;
}

.input-wrapper input:focus {
  outline: none;
  border: 1px solid #2f80ed;
}

.loginContainer {
<<<<<<< HEAD
    height: 90%;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
=======
  height: 70%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
>>>>>>> 01dd9da (added new project Movier)
}

.emailSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 30px;
}

#email {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.passwordSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 30px;
}

.password-wrapper {
  position: relative;
  display: inline-block;
}

.password-wrapper i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
  font-size: 16px;
}

.password-wrapper input {
  height: 45px;
  width: 85%;
  font-size: 14px;
  border-radius: 5px;
  background-color: #f4f6f8;
  border: 1px solid #cbd5e1;
  padding-left: 35px;
}

.password {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.register {
  width: 87%;
  height: 45px;
  margin-left: 30px;
  font-size: 20px;
  border-radius: 7px;
  background-color: #7c3aed;
  background: linear-gradient(45deg, #4f46e5, #3b82f6);
  cursor: pointer;
  color: #ffffff;
}

.nextPage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  color: slategray;
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
}

.nextPage a {
  text-decoration: none;
  color: #4f46e5;
}

.registered {
  display: none;
}

.successTitle {
  color: black;
}

.successBox {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 200px;
  height: 6px;
  background: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
}

.loader::before {
  content: "";
  display: block;
  height: 100%;
  width: 40%;
  background: linear-gradient(90deg, #4f46e5, #06b6d4);
  animation: slide 0.35s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(250%);
  }
}

.none {
  display: none;
}

.successMessage {
  text-align: center;
  color: #22bb33;
  font-size: 28px;
  opacity: 0;
  transition: opacity 0.5s ease;
  font-family: "poppins";
  font-weight: bolder;
}

@keyframes fade2 {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.showMessage {
  opacity: 1;
  animation: fade2 1s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
